# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# ChromaDB
chroma_db/

# Cache
backend/app/cache/cache_metadata.json

# Environment Variables
.env

# Frontend
frontend/node_modules/
frontend/dist/

# macOS
.DS_Store

# IDE
.vscode/